<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/
extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/familyTreeStyles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-grid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-reboot.css}">

    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <title>Person Details Page</title>

</head>

<body>
<div class="continer">
    <div id="header-panel">
        <div th:insert="~{header :: welcome}"></div>
        <br>
        <a th:href="@{'/welcome'}" class="btn  eBtn">welcome page</a>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'Personal')">Personal</button>
                    <button class="tablinks" onclick="openTab(event, 'Contacts')">Contacts</button>
                    <button class="tablinks" onclick="openTab(event, 'Biographical')">Biographical</button>
                </div>
                <div id="Personal" class="tabcontent">
                    <h3>Personal data</h3>
                    <div class="form-group">
                        <form id="personForm" class="personForm" autocomplete="off" th:action="@{/editPerson/save}"
                              th:object="${person}"
                              method="post" role="form">
                            <input id="id" type="text" th:field="*{id}" hidden="true"/>

                            <table class="formTable">
                                <tr>
                                    <td>
                                        <label>First name</label>
                                        <input type="text" th:field="*{firstName}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="label">Last name</label>
                                        <input type="text" th:field="*{lastName}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Last name on birth</label>
                                        <input type="text" th:field="*{lastNameOnBirth}"/>
                                    </td>
                                </tr>
                                <tr>
                                  <td>
                                        <input type="radio" th:field="*{gender}" th:value=10 th:text="Male"/>
                                        <input type="radio" th:field="*{gender}" th:value=20 th:text="Female"/>
                                        <input type="radio" th:field="*{gender}" th:value=30 th:text="Undefined"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Birth date</label>
                                        <input type="date" name="birthdate" th:field="${person.birthDate}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>is inALive</label>
                                        <input type="checkbox" name="inALive" th:checked="*{isInALive()}"/>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div th:if="!${person.isInALive()}" id="deathDate">
                                            <label>Death Date</label>
                                            <input type="date" th:field="${person.deathDate}"/>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <button type="submit" class="btn btn-primary btn-block">Save</button>
                            <a th:href="@{'/editPerson/delete/id/'+*{id}}" class="btn btn-primary btn-block" >Delete</a>
                        </form>
                    </div>
                </div>
                <div id="Contacts" class="tabcontent">
                    <h3>Contacts</h3>
                    <div class="form-continer">
                        <form id="contactForm" class="contactForm" autocomplete="off" action="#"
                              th:action="@{/editPersonContactSave}"
                              th:object="${contact}" method="post" role="form">
                            <input th:field="*{id}" hidden="true"/>
                            <input th:field="*{person}" hidden="true"/>
                            <table class="formTable">
                                <tr>
                                    <td>
                                        <label>email</label>
                                        <input type="text" th:field="*{email}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>WebSite</label>
                                        <input type="text" th:field="*{webSite}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>FaceBook</label>
                                        <input type="text" th:field="*{faceBook}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Blog</label>
                                        <input type="text" th:field="*{blog}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>PhotoGalery</label>
                                        <input type="text" th:field="*{photoGalery}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Skype</label>
                                        <input type="text" th:field="*{skype}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>City</label>
                                        <input type="text" th:field="*{city}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span th:text="${contact.country}"></span>
                                   <!-- <label>Country</label>&ndash;&gt;
                                       <select th:field="*{country}">
                                        <option th:each="country : ${countrys}"
                                                th:value="*{country}"
                                                th:text="#{${'contact.country.' + country}}" >
                                        </option>
                                    </select>-->
                                    </td>
                                </tr>
                            </table>
                            <button type="submit" class="btn btn-primary btn-block">Save Contact</button>
                        </form>
                    </div>
                </div>
                <div id="Biographical" class="tabcontent">
                    <h3>Biographical</h3>
                    <p>Tokyo is the capital of Japan.</p>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <br> <a th:href="@{'/editPerson/id/0'}" class="btn btn-primary eBtn">New Person</a>
            <br>
            <br>
            <br>
            <br>
            <div th:insert="~{personList :: personList}"></div>
         </div>
    </div>
</div>
<div class="panel-footer">
    footer
</div>
</div>
</body>

</html>