<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Family Tree</title>
    <!--  <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css"></link>
      <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap-glyphicons.css"></link>
      <link rel="stylesheet" type="text/css" media="all" href="css/styles.css"></link>-->
</head>

<body>
<div class="container">
    <h1>Family Tree</h1>
    <ul class="timeline">
        <div th:each="entry,status : ${person}">
            <li th:attr="class=${status.odd}?'timeline-inverted':''">
                <div class="tl-circ"></div>
                <div class="timeline-panel">
                    <div class="tl-heading">
                        <h4><span th:text="${entry.firstName}">First Name</span>
                            <span th:text="${entry.lastName}">Last Name Now</span></h4>
                        <p>
                            <span th:text="${entry.birthDate}">born</span>
                        </p>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</div>
</body>
</html>
