<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css">
    </link>
    <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap-glyphicons.
css"></link>
    <link rel="stylesheet" type="text/css" media="all" href="css/styles.css"></link>
</head>
<body>
<div class="container">
    <div class="content">

        <h2>Registration to FamilyTree app</h2>
        <form name="userForm" th:action="@{/registration}" action="/login" method="POST" >
            <input type="text" name="username" value="username" placeholder="Username" />
            <input type="password" name="password"  value="password" placeholder="Password" />
            <input type="password" name="confirmPassword"  value="confirmPassword" placeholder="confirmPassword" />
            <input type="submit" id="login" value="Login" class="btn btn-primary" />
        </form>
    </div>
</div>
</body>
</html>