<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form familyTree project</title>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-grid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-reboot.css}">

    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</head>
<body class="text-center">
<form th:action="@{/login}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
</form>

<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form">
                <h2>Registration Form</h2>
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"
                           class="validation-message"></label>
                    <input type="text" th:field="*{userName}" placeholder="login" th:required="true"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('userToPerson.firstName')}" th:errors="*{userToPerson.firstName}"
                           class="validation-message"></label>
                    <input type="text" th:field="*{userToPerson.firstName}" placeholder="First Name" th:required="true"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('userToPerson.lastName')}" th:errors="*{userToPerson.lastName}"
                           class="validation-message"></label>
                    <input type="text" th:field="*{userToPerson.lastName}" th:required="true"
                           placeholder="Last Name" class="form-control"/>
                </div>

                <!-- &lt;!&ndash; <div class="form-group">
                      <div class="col-sm-9">
                          <input type="text" th:field="*{userToPerson.email}" placeholder="Email"
                                 class="form-control" /> <label
                              th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                              class="validation-message"></label>
                      </div>
                  </div>&ndash;&gt;-->
                <div class="form-group"><label
                        th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                        class="validation-message"></label>
                    <input type="password" th:field="*{password}" th:required="true"
                           placeholder="Password" class="form-control"  />
                </div>
                <div class="form-group"><label
                        th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                        class="validation-message"></label>
                    <input type="password" th:field="*{confirmPassword}" th:required="true"
                           placeholder="Confirm Password" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Register User</button>
                </div>
                <span th:utext="${successMessage}"></span>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

</body>
</html>