<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/
extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/familyTreeStyles.css}">
    <title>Welcome</title>

</head>

<body>
<div class="container">
    <table class="continer">
        <tbody>
        <tr class="header">
            <td>
                <div class="header-panel">
                    <h3>Family Tree welcome page</h3></div>
                <h2>
                    <p>
                        <span th:text="${person.firstName}"></span>
                        <span th:text="${person.lastName}"></span>
                    </p>
                </h2>
            </td>
            <td>
                <p sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </td>
        </tr>
        <tr class="right_tr">
            <td>
                <div class="right_side">
                    <div class="tab">
                        <button class="tablinks" onclick="openTab(event, 'Personal')">Personal</button>
                        <button class="tablinks" onclick="openTab(event, 'Contacts')">Contacts</button>
                        <button class="tablinks" onclick="openTab(event, 'Biographical')">Biographical</button>
                    </div>
                    <div id="Personal" class="tabcontent">
                        <h3><span th:text="${person.firstName}"></span>
                            <span th:text="${person.lastName}"></span></h3>
                        <p>Your personal data.</p>
                        <div class="form-continer">
                            <form id="personForm" class="personForm" autocomplete="off" action="#"
                                  th:action="@{/welcome}"
                                  th:object="${person}" method="post" role="form">
                                <input type="text" th:field="*{id}"/>
                                <table class="formTable">

                                    <tr>
                                        <td>

                                            <label>First name</label>
                                            <input type="text" th:field="*{firstName}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Last name</label>
                                            <input type="text" th:field="*{lastName}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Last name on birth</label>
                                            <input type="text" th:field="*{lastNameOnBirth}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td th:each="currentGender : ${genders}">
                                            <input type="radio" th:field="*{currentGender}"
                                                   th:value="${currentGender}"/>
                                            <label th:for="${#ids.prev('currentGender')}"
                                                   th:text="${currentGender.name}"></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Birth date</label>
                                            <input type="data" th:field="*{birthDate}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>is inALive</label>
                                            <input type="checkbox" name="inALive" th:checked="${inALive}"/>
                                            <div id="inAlive">click me</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div th:if="inALive" id="deathDate">
                                                <label>Death Date</label>
                                                <input type="data" th:field="*{deathDate}"/>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <button type="submit" class="btn btn-primary btn-block">Register User</button>
                            </form>
                           <!-- <a class="btn btn-warning" href="/edit-todo">Edit Todo</a>
                            <a class="btn btn-warning" href="/delete-todo">Delete Todo</a>-->
                        </div>
                    </div>

                    <div id="Contacts" class="tabcontent">
                        <h3>Contacts</h3>
                        <div class="form-continer">
                            <p>youre Contacts.</p>
                            <form id="contactForm" class="contactForm" autocomplete="off" action="#"
                                  th:action="@{/welcome}"
                                  th:object="${contact}" method="put" role="form">
                                <input type="text" th:field="*{id}"/>
                                <table class="formTable">

                                    <tr>
                                        <td>

                                            <label>email</label>
                                            <input type="text" th:field="*{email}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>WebSite</label>
                                            <input type="text" th:field="*{webSite}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>FaceBook</label>
                                            <input type="text" th:field="*{faceBook}"/>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label>Blog</label>
                                            <input type="data" th:field="*{blog}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>PhotoGalery</label>
                                            <input type="data" th:field="*{photoGalery}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Skype</label>
                                            <input type="data" th:field="*{skype}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>City</label>
                                            <input type="data" th:field="*{city}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Country</label>
                                            <!--<select th:field="*{country}">
                                                <option th:each="country : ${countys}"
                                                        th:value="${country}"
                                                        th:text="#{${'contact.country.' + country}}">${country.name}</option>
                                            </select>-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Birth date</label>
                                            <input type="data" th:field="*{other}"/>
                                        </td>
                                    </tr>


                                </table>
                                <button type="submit" class="btn btn-primary btn-block">Save Contact</button>
                            </form>
                        </div>
                    </div>

                    <div id="Biographical" class="tabcontent">
                        <h3>Biographical</h3>
                        <p>Tokyo is the capital of Japan.</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="left_side">
                    <ul class="timeline">
                        <div th:each="entry,status : ${persons}">
                            <li th:attr="class=${status.odd}?'timeline-inverted':''">
                                <div class="tl-circ"></div>
                                <div class="timeline-panel">
                                    <div class="tl-heading">
                                        <h4><span th:text="${entry.firstName}">First Name</span>
                                            <span th:text="${entry.lastName}">Last Name Now</span></h4>
                                        <p>
                                            <span th:text="${entry.birthDate}">born</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </div>
                        <div th:each="entry,status : ${countrys}">
                            <li th:attr="class=${status.odd}?'timeline-inverted':''">
                                <div class="tl-circ"></div>
                                <div class="timeline-panel">
                                    <div class="tl-heading">
                                        <h4><span th:text="${entry.name}">First Name</span></h4>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>
            </td>
        </tr>
        <tr class="left_tr">
            <td></td>
        </tr>
        <tr class="footer">
            <td>
                <div class="footter">
                    <span>footer</span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</div>

</html>