<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/
extras/spring-security">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Welcome</title>

</head>

<body>
<div class="container">
    <h1>Family Tree welcome page</h1>
    <!-- <strong th:value="${currentPerson.firstName}"></strong>
        <strong th:value="${currentPerson.lastName}"></strong>-->
    <p sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    </p>

    <ul class="timeline">
        <div th:each="entry,status : ${persons}">
            <li th:attr="class=${status.odd}?'timeline-inverted':''">
                <div class="tl-circ"></div>
                <div class="timeline-panel">
                    <div class="tl-heading">
                        <h4><span th:text="${entry.firstName}">First Name</span>
                            <span th:text="${entry.lastName}">Last Name Now</span></h4>
                        <p>
                            <span th:text="${entry.birthDate}">born</span>
                        </p>
                    </div>
                </div>
            </li>
        </div>
        <div th:each="entry,status : ${countrys}">
            <li th:attr="class=${status.odd}?'timeline-inverted':''">
                <div class="tl-circ"></div>
                <div class="timeline-panel">
                    <div class="tl-heading">
                        <h4><span th:text="${entry.name}">First Name</span></h4>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</div>
</body>
</html>
